archive/
docs/_build

.ipynb_checkpoints/
pygomodo/databases/costum_db/
pygomodo/databases/GPCRref/
pygomodo/databases/pyGOMODO_db/
pygomodo/databases/costum_db.tar.xz
pygomodo/databases/GPCRred.tar.xz
pygomodo/databases/ProcessedPdbs_wo_isoforms.tar.xz

